---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE } from "../consts";
import { getCollection } from "astro:content";
const about = {
  heading: "Hi, I'm Jenny.",
  current: "I am a product designer with a background in data analytics and frontend development.",
  body: "I have previously designed internal tools, data management systems, and cross-platform experiences for web and mobile products. I enjoy bringing structure and vision to ambiguity by balancing design with analytical thinking to create user-friendly, scalable systems. In my experience, I thrive in environments where design, engineering, and product come together to solve real-world problems.",
  mission: "I strive to combine clean design principles with thoughtful engineering to make online interactions seamless, natural, and fun.",
  personal:"In my personal time, I freelance and volunteer on design and analytics projects for nonprofits and small businesses.",
  outro: "Check out my works below!"
};
const entry =(await getCollection('blog'))
	// .filter((item) => !['perspective'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0,2); 
---
<html lang="en">
  <BaseLayout title="Jenny Cho - About" description="About Me">
    <body>
    <span class="lg:text-base md:text-base sm:text-sm flex flex-col md:flex-row lg:flex-row mt-20 items-center px-5 gap-5">
      <img class="h-72 object-contain rounded-lg xs:block sm:block md:hidden lg:hidden" src='/headshot.jpg' alt="Jenny pic" />
 
		<div>
			<h2 class="mb-1 font-brand text-xl">{about.heading}</h2>
			<p class="text-sm font-body mb-3">{about.current}</p>
			<div>
				<p class="text-sm font-body mb-3">{about.body}</p>
				<p class="text-sm font-body mb-3">{about.personal}</p>
				<!-- <p class="text-sm font-body mb-3">{about.outro}</p> -->
			</div>	
		</div>
      <img class="h-96 object-contain rounded-lg xs:hidden sm:hidden md:inline-block lg:inline-block" src='/headshot.jpg' alt="Jenny pic" />

    </span>
    <!-- <span class="lg:text-base md:text-base sm:text-sm flex flex-col items-center">
      <div class="mt-3 px-5 py-5">
      <h2 class="mb-1 font-brand text-lg">My Story</h2>
      <p class="text-sm font-body mb-3">{about.intro}  <span class="text-pink-600 dark:text-darkPrimary">{about.question}</span></p>
      <h2 class="mb-1 font-brand text-md">Guiding Principle</h2>
      <p class="text-sm font-body mb-3">{about.mission} <span class="text-pink-600 dark:text-darkPrimary">{about.keywords}</span></p>
      <h2 class="mb-1 font-brand text-lg">My Work's Been Featured On</h2>
      <div class="underline decoration-dotted underline-offset-4 text-sm">
            <p><li class="hover:text-lightPrimary dark:hover:text-darkPrimary"><a  href="https://www.okta.com/blog/2024/10/oktas-nonprofit-technology-fellowship-empowering-nonprofit-technology-leaders-across/" target="_blank">Okta: Driving Global Impact Through Nonprofit Tech Leaders  &#8599;</a></li></p>
            <p><li class="hover:text-lightPrimary dark:hover:text-darkPrimary"><a href="https://developforgood.notion.site/Develop-for-Good-s-Pantheon-0df10a08fdf74fa9bc8d596695aac1a9" target="_blank">Develop For Good: Streamlining Volunteer Management with Pantheon &#8599;</a></li></p>
        </div>
      </div> 
    </span> -->
    <!-- <span class="lg:text-base md:text-base sm:text-sm flex flex-col md:flex-row lg:flex-row items-center">
      <div class="mt-3 px-5 py-5">
      <h2 class="mb-1 font-brand text-lg">My Work's Been Featured On</h2>
      <div class="underline decoration-dotted underline-offset-4 text-sm">
            <p><li class="hover:text-lightPrimary dark:hover:text-darkPrimary"><a  href="https://www.okta.com/blog/2024/10/oktas-nonprofit-technology-fellowship-empowering-nonprofit-technology-leaders-across/" target="_blank">Okta: Driving Global Impact Through Nonprofit Tech Leaders  &#8599;</a></li></p>
            <p><li class="hover:text-lightPrimary dark:hover:text-darkPrimary"><a href="https://developforgood.notion.site/Develop-for-Good-s-Pantheon-0df10a08fdf74fa9bc8d596695aac1a9" target="_blank">Develop For Good: Streamlining Volunteer Management with Pantheon &#8599;</a></li></p>
        </div>
      </div>
    </span> -->
  </body>
  </BaseLayout>
</html>