---
import { getCollection } from "astro:content";
import ProjectLink from '../components/ProjectLink.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';


const projects = (await getCollection('work'))
	.filter((item:any) => !['melodyai', 'perspective'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
const entry =(await getCollection('blog'))
	// .filter((item) => !['melodyai'].includes(item.slug)) //exclude incomplete case studies
	.sort((a:any, b:any) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0,2); 

const about = {
  heading: "Hey there! I'm Jenny.",
  body: "I'm passionate about working across data, full stack development, and product design to build impactful digital experiences.",
  mission: "Whether in my professional work or side projects, I strive to combine clean design principles with thoughtful engineering to make online interactions seamless, natural, and fun.",
  outro: "Check out my works below :)"
};
---

<BaseLayout title="Jenny Cho" description="Hi! I'm Jenny.">
	<span class="lg:text-base md:text-base sm:text-sm flex flex-col md:flex-row lg:flex-row mt-20 mb-5">

		<div class="xs:px-1 sm:px-2 md:px-5 lg:px-5">
		<h2 class="mb-1 font-brand text-xl">{about.heading}</h2>
		<p class="text-sm font-body mb-3">I'm a data analyst <span class="text-pink-600 dark:text-darkPrimary">@ Neighborshare</span>, with a background in product design and frontend development.</p>
		<div>
			<p class="text-sm font-body mb-3">{about.body} {about.mission}</p>
			<p class="text-sm font-body mb-3">{about.outro}</p>
		</div>
		</div>
		<img class="h-96 object-contain rounded-lg xs:hidden sm:hidden md:inline-block lg:inline-block" src='/headshot.jpg' alt="Jenny pic" />
    </span>
	<div class="lg:text-base md:text-base sm:text-sm flex flex-col mb-10 items-center">

		<div class="items-center">
		<!-- <p class="mb-1 uppercase font-brand font-semibold">Product Design Works</p> -->
		<div role="list" class="flex flex-wrap">
            {projects.map((project, i) => (
				<>
				<ProjectLink project={project} />
				{i < projects.length - 1 && <span class="mx-1">/</span>}
				</>
			))}
        </div>
	</div>
	</div>
</BaseLayout>
<style>
	li a:hover {
		color: var(--accent-regular);
	}
	.grid {
       display: grid;
		/* grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr)); */
		gap: 2rem;
		padding: 1rem 0;
    }
</style>