---
import type { CollectionEntry } from "astro:content";

interface Props {
	project: CollectionEntry<'work'>;
}

const { data, slug, collection } = Astro.props.project;
---

<div class="hover:no-underline mb-3">
	<a href={`/${collection}/${slug}`} class="font-body text-sm">
	<li class="hover:text-lightPrimary dark:hover:text-darkPrimary">
		{data.title} @ {data.org} - <span>{data.description}</span>
	</li>
	</a>
</div>

<style>

	.image-container {
		width: 65%; 
		overflow: hidden; /* scaling stays within the container */
		border-radius: 5px;
		transition: var(--bouncy);
	}

</style>