---
import type { CollectionEntry } from "astro:content";

interface Props {
	project: CollectionEntry<'work'>;
}

const { data, slug, collection } = Astro.props.project;
---

<div class="hover:no-underline mb-3 hover:text-lightPrimary dark:hover:text-darkPrimary hover:italic">
	<a href={`/${collection}/${slug}`} class="font-body font-normal text-sm">
	<p class="">
		&#8599; {data.title} @ {data.org}
	</p>
	<span class="font-body text-xs">{data.description}</span>
	</a>
</div>

<style>

	.image-container {
		width: 65%; 
		overflow: hidden; /* scaling stays within the container */
		border-radius: 5px;
		transition: var(--bouncy);
	}

</style>