---
interface Props {
  org: string | undefined;
  label: string | undefined;
  role: string | undefined;
  timeline: string | undefined;
  second_role: string | undefined;
}
const { org, label, role, second_role, timeline } = Astro.props;

---	
<div class="my-5 block">
  <div class="border-y-2 py-2 my-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label text-gray-500 dark:text-gray-400">Organization: <span class="text-lightHeading dark:text-darkHeading">{org}</span></p>
    <!-- <p class="value dark:text-gray-200">{org}</p> -->
  </div>
  <div class="border-b-2 pb-2 mb-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label text-gray-500 dark:text-gray-400">Platform: <span class="text-lightHeading dark:text-darkHeading">{label}</span></p>
    <!-- <p class="value dark:text-gray-200">{label}</p> -->
  </div>
  <div class="border-b-2 pb-2 mb-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label text-gray-500 dark:text-gray-400">Role: <span class="text-lightHeading dark:text-darkHeading">{role}{second_role ? `  •  ${second_role}` : ''}</span></p>
    <!-- <p class="value dark:text-gray-200">{role}{second_role ? `  •  ${second_role}` : ''}</p> -->
  </div>
  <div class="border-b-2 pb-2 mb-2 border-gray-300 dark:border-gray-700 flex items-start justify-between">
    <p class="label text-gray-500 dark:text-gray-400">Timeline: <span class="text-lightHeading dark:text-darkHeading">{timeline || 'N/A'}</span></p>
    <!-- <p class="value dark:text-gray-200">{timeline || 'N/A'}</p> -->
  </div>
</div>

	
 <style>	
/* .my-5 > div {
  display: grid;
  grid-template-columns: 150px 1fr; 
  gap: 1rem; 
} */

.label {
  text-transform: uppercase;
  text-align:left;
  font-weight: 600;
  font-size: 0.75rem; 
  letter-spacing: 0.05em; 
}
.label span {
  text-transform: capitalize;
}

.value {
  text-align:left;
  font-size: 0.875rem; 
}
.dark .value {
  color: #e5e7eb;
}

.detail-grid {
grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
gap: 1.25rem;
}
/* Responsive styles for smaller screens */
@media (max-width: 640px) {
  .my-5 > div {
    grid-template-columns: 1fr; /* Switch to a single-column layout */
    gap: 0.5rem; /* Reduce spacing for smaller screens */
  }

  .label {
    margin-bottom: 0.25rem;
  }
	
}
 </style>