---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectDetails from "../components/ProjectDetails.astro";
// import "../styles/global.css"
interface Props {
	org: string;
	label: string;
	role: string;
	second_role ?: string | undefined;
	timeline: string;
	title: string;
	description?: string | undefined;
	image ?: string | undefined;
}
const {title, description, image, org, label, role, second_role, timeline} = Astro.props;
---
<html lang="eng">
	<head >
		<BaseHead title={title} description={description}/>
	</head>
	<body class="bg-lightBg text-lightText dark:bg-darkBg dark:text-darkText">
	<Header />
	<main>
	
		<article class="flex flex-col gap-2 justify-center p-2">
			<div class="pt-20 prose">
					<a href="/work" class="hover:text-primary">
						<span class="hover:text-lightprimary dark:hover:text-darkPrimary">&larr; My Works</span>
					</a>
			</div>
			<div class="flex gap-2 mb-4 w-full">
	
				<div class="flex flex-col w-full text-center">
					<div class="pt-10">
						<img src={image} />
					</div>
					<h1 class="text-3xl pt-5 font-brand tracking-wide pb-2">{title}</h1>
					<p class="font-brand">{description}</p>
					<ProjectDetails org={org} label={label} role={role}  second_role={second_role} timeline={timeline} />
					<div class="text-left content">
						<slot/>
					</div>
					
				</div>
			</div>
		</article>
	</main>
	<Footer />
	</body>
</html>
<script>

</script>
<style>
	* {
		font-family: 'DM Sans', sans-serif;
	}
	header {
		padding-bottom: 2.5rem;
		font-weight:700;
		border-bottom: 1px solid var(--gray-800);
	}

	.back-link {
		display: none;
	}
	.content {
		max-width: 65ch;
		margin-inline: auto;
	}
	.content :global(.gallery){
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(3ch, 1fr));
		gap: 2rem;
	}


	/* .content > :global(* + *) {
		margin: 1rem;
	} */
	/* .content :global(em) {
		color: var(--accent-regular);
	} */

	.content :global(em) {
		color: #db2777;
		font-weight: 400;
		font-style:normal;
	}
	.dark .content :global(em) {
		color: #ee964b;
	}
	.content :global(li) {
		padding: 0.5rem 3rem;
		list-style-type: circle;
	}
	
	.content :global(h1) {
		font-family: "DM Sans", serif;
		letter-spacing: 2px;
		padding: 3em 0 1em 0;
		font-weight: 700;
		
		text-transform: uppercase;
	}
	.content :global(h2){
		font-size: 1.75rem;
		padding: 1.5em 0 0.5rem 0;

	}
	.content :global(h3) {
		font-size: 1.35rem;
		font-weight:600;
		
		margin: 1rem 0 0 0;
	}
	.content :global(p)  {
		font-size: 1.15rem;
		font-family: var(--font-body);
	}
	.content :global(li) {
		list-style-type:decimal;
		font-weight:500;
		list-style-position:inside;
	}
	.content :global(a) {
		font-style: bold;
	}

	.content :global(img) {
		/* border-radius: 0.5rem; */
		width: 100%;
		margin: 1rem 0 1rem 0;
		/* box-shadow: var(--medium-shadow); */
		/* background: var(--gradient-subtle); */
	}

	.content :global(blockquote) {
		font-size: var(--text-xl);
		text-transform: uppercase;
		font-family: var(--font-body);
		font-weight: 600;
		line-height: 1.5;
		padding-inline-start: 1.5rem;
		/* border-inline-start: 0.25rem solid var(--accent-regular); */
	}

	.back-link,
	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.back-link:hover,
	.back-link:focus,
	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 45em) {
		/* h1 {
			font-size: 3rem;
		} */
		.back-link {
			display: block;
			align-self: flex-start;
		}

		.details {
			flex-direction: row;
			gap: 2.5rem;
		}
	}
</style>